@{
    ViewBag.Title = "index";
}

<h2>My Account</h2>
<ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a data-toggle="tab" href="#order">Order History</a></li>
    <li><a data-toggle="tab" href="#benefit">Benefit</a></li>    
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="order">
        <div class="row bg-primary">
            <div class="col-md-1">Order ID</div>
            <div class="col-md-3">Order Date</div>
            <div class="col-md-1">Price</div>
            <div class="col-md-2">Status</div>
        </div>
        @using (var db = new Ecom.Model.ecomEntities())
        {
            var query = from o in db.Orders where o.UserID == 1 select o;
            foreach (var i in query)
            {
                 <div class="row">
                     <div class="col-md-1">@i.OrderID</div>
                     <div class="col-md-3">@i.OrderDate.ToLocalTime().ToString("M/d/yyyy hh:mm:ss tt")</div>
                     <div class="col-md-1">@string.Format("{0:c}", i.TotalPrice)</div>
                     <div class="col-md-2">@i.OrderStatu.Name</div>
                 </div>
            }
        }
        
    </div>
    <div class="tab-pane" id="benefit">
        <div class="row bg-primary">
            <div class="col-md-1">Benefit ID</div>
            <div class="col-md-2">Benefit</div>
            <div class="col-md-2">Source</div>
            <div class="col-md-1">Order ID</div>
            <div class="col-md-1">Line ID</div>
            <div class="col-md-3">Comment</div>
            <div class="col-md-1">Status</div>
        </div>
    @using (var db = new Ecom.Model.ecomEntities())
    {
            var query = from o in db.UserBenefits where o.UserID == 1 select o;
            foreach (var i in query)
            {
                <div class="row">
                    <div class="col-md-1">@i.BenefitID</div>
                    <div class="col-md-2">@i.Benefit.Name</div>
                    <div class="col-md-2">@i.Source</div>
                    <div class="col-md-1">@i.FromOrderID</div>
                    <div class="col-md-1">@i.FromOrderLineID</div>
                    <div class="col-md-3">@i.Comments</div>
                    <div class="col-md-1">@i.Active</div>
                </div>
            }       
     }
</div>


